{% extends 'base.html' %}

{% block shortnav_block %}
	<div class"shortnav">
		<div class="panel nav">
			<a href="/">Home</a> /
		</div>
	</div>
{% endblock %}

{% block player_block %}
{% endblock %}

{% block movie_list_block %}
	<h1 class="cover-heading"><a href="/movies/">Latest Movies</a></h1>
	<div class="row">
		<div class"container">
		{% for movie in movie_list %}
			<div class="col-xs-4 box">
				<div class="panel movie">
					<div class="poster">
						<a class="posterimg" href="/movies/{{ movie.id }}"><img src="/media/{{movie.poster}}"></a>
					</div>
					<div class"iteminfo">
						<div class="movie-title"><a href="/movies/{{ movie.id }}">{{ movie.title }}</a> ({{movie.year}})</div>
						<div class="movie-details">
						    {{movie.genre}}<br>
						    {% if movie.director %}<b>Director:</b> {{movie.director}}<br>{% endif %}
						    {% if movie.stars %}<b>Stars:</b> {{movie.stars}}<br>{% endif %}
						</div>
						<!--<p class="movie-genre">{{movie.genre}}</p>
						<p class="movie-director">{{movie.director}}</p>
						<p class="movie-stars">{{movie.stars}}</p>
						-->
						<div class="movie-ratings">
						{% if movie.rottentomatorating %}
						<div class="movie-rating-tomato">
						<span class="tMeterIcon tiny imdbRatingPlugin imdbRatingStyle2">
							<a href="{{movie.tomatourl}}" target="blank">
							<span title="Rotten" class="icon tiny fresh"></span>
							<span class="tMeterScore">{{movie.rottentomatorating}}</span>
							</a>
						</span>
						</div>
						{% endif %}
						{% if movie.imdbrating %}
						<div class="movie-rating-imdb">
						<span class="imdbRatingPlugin imdbRatingStyle2">
							<a href="{{movie.imdburl}}" target="_blank">
							<img src="/static/img/imdb_38x18.png"/>
							<span class="rating">{{movie.imdbrating}}
							<span class="ofTen">/10</span></span>
							</a>
						</span>
						</div>
						{% endif %}
						</div>

					</div>

				</div>
			</div>
		{% endfor %}
		</div>
	</div>
	<h1 class="cover-heading"><a href="/tvseries/">Latest TV Series</a></h1>
	<div class="row">
		<div class"container">
		{% for tvshow in tvseries_list %}
		<div class="col-xs-4 box">
			<div class="panel movie">
				<div class="poster">
					<a  class="posterimg" href="/tvseries/{{ tvshow.id }}"><img src="/media/{{tvshow.poster}}"></a>
				</div>
				<div class"iteminfo">
					<div class="movie-title"><a href="/tvseries/{{ tvshow.id }}">{{ tvshow.name }}</div>
					</p>
					<p class="details"></p>
				</div>
			</div>
		</div>
		{% endfor %}
		</div>
	</div>
{% endblock %}


{% block season_list_block %}
{% endblock %}