

{% extends 'base.html' %}

{% block title %} - {{ movie.title }}{% endblock %}

{% block extrahead %}
    {{ block.super }}

{% endblock %}

{% block menu_block %}
	<li><a href="/">Home</a></li>
	<li class="active"><a href="/movies/">Movies</a></li>
	<li><a href="/tvseries/">TV Series</a></li>
{% endblock %}


{% block shortnav_block %}
	<div class"shortnav">
		<div class="panel">
			<a href="/">Home</a> / 
			<a href="/movies/">Movies</a> / 
			<a href="/movies/{{ movie.id }}">{{ movie.title }}</a> / 
		</div>
	</div>
{% endblock %}


{% block player_block %}        
{% if movie %}
	<div class="playerbox">
		<h1>{{ movie.title }}</h1>
		<div class="panel">
		<iframe id="f" name="widget" src="{{ movie.location }}" width="852" height="510" style="float:center"></iframe>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4 boxdetail">
			<div class="panel moviedetail">
				<div class="poster">
					<a class="posterimg" href="/movies/{{ movie.id }}"><img src="/media/{{movie.poster}}"></a>
				</div>
				<div class="iteminfo">
					<p class="movie-title">
						<a href="/movies/{{ movie.id }}">{{ movie.title }}
						</a> ({{movie.year}}) 
					</p>
					<p class="details">
						<div class="description">
						<p class="movie-description">{{movie.description }}</p>
						<p class="movie-genre">{{movie.genre}}<p>
						</div>
					</p>
				</div>
			</div>	
		</div>
	</div>

	<h1 class="cover-heading comments-header">Comments</h1>
	{% with movie as object %}{% include "_comments.html" %}{% endwith %}
	
	<h1 class="cover-heading">// <a href="/movies/">Latest Movies</a></h1>
	<div class="row">
		<div class"container">		
		{% for movie in movie_list %}
			<div class="col-md-4 box">
				<div class="panel movie">
					<div class="poster">
						<a class="posterimg" href="/movies/{{ movie.id }}"><img src="/media/{{movie.poster}}"></a>
					</div>				
					<div class"iteminfo">
						<p class="title">// <a href="/movies/{{ movie.id }}">{{ movie.title }}</a> ({{movie.year}})</p>
						<p class="details">
						</p>
					</div>				
				</div>	
			</div>
		{% endfor %}
		</div>		
	</div>

{% endif %}
{% endblock %}



{% block movie_list_block %}
{% endblock %}

{% block season_list_block %}
{% endblock %}