{% extends 'base.html' %}

{% block title %} - movies{% endblock %}

{% block menu_block %}



	<li><a href="/">Home</a></li>
	<li class="active"><a href="/movies/">Movies</a></li>
	<li><a href="/tvseries/">TV Series</a></li>

{% endblock %}


{% block shortnav_block %}

	<div class"shortnav">
		<div class="panel">
			<a href="/">Home</a> /
			<a href="/movies/">Movies</a> /
			<a href="/movies/{{ movie.id }}">{{ movie.title }}</a> /
		</div>
	</div>
{% endblock %}


{% block player_block %}
{% if movie %}
	<div class="playerbox">
		<h1>{{ movie.title }}</h1>
		<div class="panel">
		<!--<iframe id="f" name="widget" src="{{ movie.location }}" width="852" height="510" style="float:center"></iframe>-->

<video src="https://r15---sn-npo7en7k.c.docs.google.com/videoplayback?requiressl=yes&amp;shardbypass=yes&amp;cmbypass=yes&amp;id=d50dcee41670fcb6&amp;itag=18&amp;source=webdrive&amp;app=docs&amp;ip=103.11.49.116&amp;ipbits=0&amp;sparams=requiressl,shardbypass,cmbypass,id,itag,source,ip,ipbits&amp;signature=34F9C93BAA77B17842A1DC99408C660C21E9B271.B10661DE8D4020E4C0BC4CE82AF1EACC03AF1679&amp;key=ck2&amp;ir=1&amp;ms=nxu&amp;mt=1403964460&amp;mv=m&amp;mws=yes&amp;cpn=Ylr4zKp1o2ELdX1x&amp;c=web&amp;cver=html5" controls>
	<track kind="subtitles" label="English subtitles" src="/static/Moon.2009.1080p.BluRay.x264.YIFY.srt" srclang="en" default></track>
</video>


		</div>
	</div>

	<div class="row">
		<div class"container">
			<div class="col-md-4 boxdetail">
				<div class="panel moviedetail">
					<div class="poster">
						<a class="posterimg" href="/movies/{{ movie.id }}"><img src="/media/{{movie.poster}}"></a>
					</div>
					<div class"iteminfo">
						<p class="title">// <a href="/movies/{{ movie.id }}">{{ movie.title }}</a> ({{movie.year}})</p>
						<p class="details">
							<div class="description">
							{{ movie.description }}
							</div>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<h1 class="cover-heading">// <a href="/movies/">Latest Movies</a></h1>
	<div class="row">
		<div class"container">
		{% for movie in movie_list %}
			<div class="col-md-4 box">
				<div class="panel movie">
					<div class="poster">
						<a class="posterimg" href="/movies/{{ movie.id }}"><img src="/media/{{movie.poster}}"></a>
					</div>
					<div class"iteminfo">
						<p class="title">// <a href="/movies/{{ movie.id }}">{{ movie.title }}</a> ({{movie.year}})</p>
						<p class="details">

						</p>
					</div>
				</div>
			</div>
		{% endfor %}
		</div>
	</div>
{% endif %}
{% endblock %}



{% block movie_list_block %}
{% endblock %}

{% block season_list_block %}
{% endblock %}