{% extends 'base.html' %}

{% block title %} - movies{% endblock %}

{% block menu_block %}



	<li><a href="/">Home</a></li>
	<li class="active"><a href="/movies/">Movies</a></li>
	<li><a href="/tvseries/">TV Series</a></li>
	{% if user.is_authenticated %}
    <li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">
			<img height="25px" width="25px" src="/media/{{userProfile.avatar}}"> {{user.username}}
			<b class="caret"></b>
			</a>
      	<ul class="dropdown-menu">
			<li>
				<a href="/logout/?next={{ request.path }}" 
				class="btn btn-default btn-success btn-xs logout">
				// <span class="glyphicon glyphicon-log-out"></span> Logout</a>
				</a>
			</li>
      	</ul>
    </li>
	{% else %}
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Login <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li>
			<a class="btn btn-social btn-xs btn-google-plus" 
			href="{%url 'socialauth_begin' 'google-oauth2'%}?next={{ request.path }}">
			<i class="fa fa-google-plus"></i>Sign in with Google
			</a>
        </li>
        <li>
			<a class="btn btn-social btn-xs btn-facebook" 
			href="{%url 'socialauth_begin' 'google-oauth2'%}?next={{ request.path }}">
			<i class="fa fa-facebook"></i>Sign in with Facebook
			</a>
        </li>
        <li>
			<a class="btn btn-social btn-xs btn-twitter" 
			href="{%url 'socialauth_begin' 'google-oauth2'%}?next={{ request.path }}">
			<i class="fa fa-twitter"></i>Sign in with Twitter
			</a>
        </li>
      </ul>
    </li>

	{% endif %}
{% endblock %}


{% block shortnav_block %}

	<div class"shortnav">
		<div class="panel">
			<a href="/">Home</a> /
			<a href="/movies/">Movies</a> /
			<a href="/movies/{{ movie.id }}">{{ movie.title }}</a> /
		</div>
	</div>
{% endblock %}


{% block player_block %}
{% if movie %}
	<div class="playerbox">
		<h1>{{ movie.title }}</h1>
		<div class="panel">
		<iframe id="f" name="widget" src="{{ movie.location }}" width="852" height="510" style="float:center"></iframe>
		</div>
	</div>

	<div class="row">
		<div class"container">
			<div class="col-md-4 boxdetail">
				<div class="panel moviedetail">
					<div class="poster">
						<a class="posterimg" href="/movies/{{ movie.id }}"><img src="/media/{{movie.poster}}"></a>
					</div>
					<div class"iteminfo">
						<p class="title">// <a href="/movies/{{ movie.id }}">{{ movie.title }}</a> ({{movie.year}})</p>
						<p class="details">
							<div class="description">
							{{ movie.description }}
							</div>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<h1 class="cover-heading">// <a href="/movies/">Latest Movies</a></h1>
	<div class="row">
		<div class"container">
		{% for movie in movie_list %}
			<div class="col-md-4 box">
				<div class="panel movie">
					<div class="poster">
						<a class="posterimg" href="/movies/{{ movie.id }}"><img src="/media/{{movie.poster}}"></a>
					</div>
					<div class"iteminfo">
						<p class="title">// <a href="/movies/{{ movie.id }}">{{ movie.title }}</a> ({{movie.year}})</p>
						<p class="details">

						</p>
					</div>
				</div>
			</div>
		{% endfor %}
		</div>
	</div>
{% endif %}
{% endblock %}



{% block movie_list_block %}
{% endblock %}

{% block season_list_block %}
{% endblock %}