{% extends 'base.html' %}

{% block title %} - movies{% endblock %}

{% block menu_block %}
	<li><a href="/">Home</a></li>
	<li><a href="/movies/">Movies</a></li>
	<li class="active"><a href="/tvseries/">TV Series</a></li>
{% endblock %}

{% block shortnav_block %}
	<div class"shortnav">
		<div class="panel">
			<a href="/">Home</a> /
			<a href="/tvseries/">TV Series</a> /
			<a href="/tvseries/{{tvshow.id}}">{{tvshow.name}}</a> /
			<a href="/tvseries/{{tvshow.id}}/{{season.id}}/" class="topmenu">
			Season {{season.number}}</a> /
			<a href="/tvseries/{{tvshow.id}}/{{season.id}}/{{episode.id}}/" class="topmenu">
			Episode {{episode.number}} - {{episode.title}}</a>
		</div>
	</div>
{% endblock %}

{% block player_block %}
	{% if episode %}
	<div class="playerbox">

		<div class="panel">
		<iframe id="f" name="widget" src="{{ episode.location }}"
		width="852" height="510" style="float:center"></iframe>
		</div>
		<h1>Episode {{episode.number}} - {{ episode.title }}</h1>
		<div class="description">
			{{ episode.description }}
		</div>
	</div>
    <div class="row">
        <div class"container">
        <div class="col-md-4 boxdetail">
            <div class="panel moviedetail">
                <div class="poster">
                    <a class="posterimg" href="/tvseries/{{ tvshow.id }}"><img src="/media/{{tvshow.poster}}"></a>
                </div>
                <div class"iteminfo">
                    <p class="title"><a href="/tvseries/{{ tvshow.id }}">{{ tvshow.name }}</a>
                    </p>
                    <p class="details">{{ tvshow.description }}</p>
                </div>
            </div>
        </div>
        </div>
    </div>
	{% endif %}

	<h1 class="cover-heading comments-header">Comments</h1>
	{% with episode as object %}{% include "_comments.html" %}{% endwith %}


    <h1 class="cover-heading"><a href="/tvseries/{{tvshow.id}}">Season {{season.number}}</a></h1>
    {% for episodeFromList in episode_list %}
            <div class="longbox">
                <h1 class="cover-heading episode-list-title">
                {% if episodeFromList.id == episode.id %}
                Episode {{episodeFromList.number}} - {{episodeFromList.title}}
                {% else %}
                <a href="/tvseries/{{ episodeFromList.season.tvshow.id }}/{{ episodeFromList.season.id}}/{{ episodeFromList.id}}">
                Episode {{episodeFromList.number}} - {{episodeFromList.title}}
                </a>

                {% endif %}
                </h1>
                <p class="lead"></p>
            </div>
    {% endfor %}
{% endblock %}


{% block season_list_block %}
{% endblock %}


{% block movie_list_block %}
{% endblock %}