
{% extends 'base.html' %}

{% block title %} - tvseries{% endblock %}

{% block menu_block %}
                <li><a href="/">Home</a></li>
                <li><a href="/movies/">Movies</a></li>
                <li class="active"><a href="/tvseries/">TV Series</a></li>
{% endblock %}


{% block shortnav_block %}
    <div class"shortnav">
        <div class="panel">
            <a href="/">Home</a> /
            <a href="/tvseries/">TV Series</a> /
            <a href="/tvseries/{{tvshow.id}}">{{tvshow.name}}</a> /
            <a href="/tvseries/{{tvshow.id}}/{{season.id}}/" class="topmenu">
            Season {{season.number}}</a>
        </div>
    </div>

{% endblock %}


{% block season_list_block %}
    {% if episode_list %}
    <h1 class="cover-heading"><a href="/tvseries/{{tvshow.id}}">Season {{season.number}}</a></h1>
    <div class="row">
        <div class"container">
        <div class="col-md-4 boxdetail">
            <div class="panel moviedetail">
                <div class="poster">
                    <a class="posterimg" href="/tvseries/{{ tvshow.id }}"><img src="/media/{{tvshow.poster}}"></a>
                </div>
                <div class"iteminfo">
                    <p class="movie-title"><a href="/tvseries/{{ tvshow.id }}">{{ tvshow.name }}</a>
                    </p>
                    <p class="details">{{ tvshow.description }}</p>
                </div>
            </div>
        </div>
        </div>
    </div>

    {% for episode in episode_list %}
            <div class="longbox panel">
                <a href="/tvseries/{{ episode.season.tvshow.id }}/{{ episode.season.id}}/{{ episode.id}}">Episode {{episode.number}} - {{episode.title}}</a></h1>
            </div>
    {% endfor %}
    {% endif %}
{% endblock %}

{% block player_block %}
{% endblock %}

{% block movie_list_block %}
{% endblock %}