@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.1.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.1.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?v=4.1.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.1.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}



.dropdown-toggle:active, .open .dropdown-toggle 
{
	background:transparent !important; 
	color:#fff !important;
}

.dropdown-menu
{
	background-color:rgba(255,255,255,0.05);
}

.dropdown-menu > li
{
	margin: 10px;
}

.dropdown-menu > li > a {
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: normal;
	line-height: 1.42857143;
	color: #fff;
	white-space: nowrap;
}

.logout
{
	color:#000 !important;
}

/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  /*color: #fff;*/
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}

/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #333;
  background-image: url("/static/bg.jpg");    
  background-attachment:fixed;  
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  /*box-shadow: inset 0 0 100px rgba(0,0,0,.5);*/
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 20px;
}

/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}
.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}



/*
 * Cover
 */

.cover {
  padding: 0 20px;  
  text-align: left;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}

/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
  height:200px;
  padding-top:100px;
  padding-bottom:100px;
}

/*
 * Affix and center
 * @media
 */

/*@media (min-width: 768px) {*/
@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    /*position: fixed;*/
    padding-top:50px;
    padding-bottom:50px;
    top: 0;
  }
  .mastfoot {
    /*position: fixed;*/
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; 
    /* Must be percentage or pixels for horizontal alignment */
  }
}



@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 900px;
  }
}







/*
 * Grid
 */
.poster img{
	height:300px;
	width:200px;
}



.shortnavbox
{
	height:20px;
}

.row
{
  /*padding-top:30px;*/
  /*padding-left:15px;*/
}

.panel
{
  background:rgba(255,255,255,0.05);
  padding: 5px;
}

.nav
{

}

.movie
{
  height:450px;
  width:210px;
}


.box
{  
	width:215px;
}

.boxdetail
{
	width:100%;
}

.moviedetail
{
	height:320px;
	width:860px;
	float:left;
}

.poster
{
	float:left;
	padding-right:10px;
}

.iteminfo
{

}
.movie-title
{
  font-size: 18px;
}
.movie-genre
{
	font-size: 12px;	
}



.episode-list-title
{
	font-size: 16px;
}

.comments-header
{
	margin-top:5px;
	font-size:20px;
}


/*
 * Comments
 */

.comment-root
{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
.comment-children
{
    list-style-type: none;
    margin-top:5px;
    margin-left:0px;
    padding-left:0px;
}
.comment-detail
{
	margin-bottom:10px;
}
.comment-detail-body
{
	overflow: auto;
}
.comment-bottom-menu
{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
	display: inline;
}
.comment-detail-user_name
{
   border-width: 1px;
   border-bottom-width:1px;
   border-bottom-color:rgba(255,255,255,0.1);
   border-bottom-style: solid;
}
.comment-detail-user-avatar
{
	float: left;
	margin-right: 10px;
}

.comment-detail-user-avatar-img
{
	width:50px;
	height:50px;
}

.comment-form
{
	margin-top:10px;
	margin-bottom:10px;
}
.comment-form-btn-submit
{
	color:#000;
}
.comment-form-btn-cancel
{
	color:#000;	
}
#id_comment
{
	color:#000;
	width: 501px;
	height: 106px;
	margin: 0px;
}
.reply-show-hide-form, 
.reply-show-hide-form-0
{
	cursor:pointer;
}

.comment-login-buttons
{
	list-style-type: none;
	display: inline;
}
.comment-login-buttons li
{
	display: inline;
}



/*
 * Movie Ratings
 */
.icon {
display: inline-block;
vertical-align: text-bottom;
background: transparent url('/static/img/icons-v2.png') no-repeat -312px -160px;
}
.icon.tiny{width:16px;height: 16px;}
.tiny.fresh{background-position: -256px -144px;}
.tiny.rotten{background-position: -272px -144px;}
.imdbRatingPlugin{
	-moz-border-radius:5px;
	-ms-border-radius:5px;
	-o-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	color:#000;
	display:inline-block;
	font-family:Arial,Helvetica,sans-serif;
	font-weight:bold;text-decoration:none;
	margin:5px 0
}
.imdbRatingStyle2{
	/*background-color:#000;*/
	background-color:rgba(0,0,0,0.5);
	font-size:15px;
	color:#fff;
	padding:2px
}
.imdbRatingPlugin a{text-decoration:none}
.imdbRatingPlugin img{border:0;vertical-align:text-bottom}
.imdbRatingPlugin span.rating{display:inline-block}
.imdbRatingPlugin span.ofTen{color:#666;font-size:9px}
.imdbRatingPlugin img.star{margin-left:1px}
.imdbRatingStyle2 span.ofTen{color:#ccc}
.imdbRatingStyle2 img.star{margin-bottom:1px}
.movie-ratings{position: absolute; left: 17%; top:88%;}
.movie-rating-tomato{display:inline-block;}
.movie-rating-imdb{display:inline-block;margin-left: 5px;}