<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <meta name="description" content="">
	    <meta name="author" content="">
    	<link rel="shortcut icon" href="{{ STATIC_URL }}img/7285481.ico">

		<title>
		rthitha{% block title %}{% endblock %}
		</title>


		<!-- Bootstrap core CSS -->
		<link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">

		<!-- Custom styles for this template -->
		<link href="{{ STATIC_URL }}css/rthitha.css" rel="stylesheet">

		<!-- Just for debugging purposes. Don't actually copy this line! -->
		<!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->

        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-51474219-1', 'rthitha.com');
          ga('send', 'pageview');
        </script>        
    </head>

    <body>

<!--
        <div>
            <ul>
                <li><a href="/" class="topmenu">rthitha</a></li>
                <li><a href="/movies/" class="topmenu">movies</a></li>
                <li><a href="/tvseries/" class="topmenu">tvseries</a></li>
            </ul>


        </div>
        
    	<div>
        	{% block body_block %}{% endblock %}

    	<div>
-->    	

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">[R.Thi.Tha]</h3>
              <ul class="nav masthead-nav">
				{% block menu_block %}
				<li class="active"><a href="/">Home</a></li>
				<li><a href="/movies/">Movies</a></li>
				<li><a href="/tvseries/">TV Series</a></li>
				{% endblock %}
              </ul>
            </div>
          </div>

          <div class="inner cover">
			{% block shortnav_block %}
          	<div class"shortnav">
          		<div class="panel">

				<a href="#">It's Always Sunny in Philadelphia</a> / <a href="#">Season 9</a> / <a href="#">Episode 1 - The Gang Broke Dee</a>
				</div>
          	</div>
			{% endblock %}

			{% block player_block %}
          	<div class="playerbox">
          		<h1>The Gang Broke Dee</h1>
          		<div class="panel">
          		<iframe id="f" name="widget" src="https://docs.google.com/file/d/0B1Dfa5I-Le76TDVDWnJMY0xncDQ/preview" width="852" height="510" style="float:center"></iframe>
          		</div>
          		<div class="description">
          			Dennis actually fears that Dee really has hit rock bottom. With Frank's help, the gang comes up with an elaborate plan to cheer Dee up, or did they?
          		</div>
          	</div>
			{% endblock %}

          	{% block movie_list_block %}
          	<div class="row">
          		<div class"container">

	          		<div class="col-md-4">
	          			<div class="panel">				            
				            <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
			            </div>	
	          		</div>

	          		<div class="col-md-4">
	          			<div class="panel">			            
				            <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
			            </div>	
	          		</div>

	          		<div class="col-md-4">
	          			<div class="panel">				            
				            <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
			            </div>	
	          		</div>

	          		<div class="col-md-4">
	          			<div class="panel">			            
				            <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
			            </div>	
	          		</div>

	          		<div class="col-md-4">
	          			<div class="panel">				            
				            <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
			            </div>	
	          		</div>

	          		<div class="col-md-4">
	          			<div class="panel">			            
				            <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
			            </div>	
	          		</div>

	          		<div class="col-md-4">
	          			<div class="panel">				            
				            <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
			            </div>	
	          		</div>

	          		<div class="col-md-4">
	          			<div class="panel">			            
				            <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
			            </div>	
	          		</div>
	          		
    		    </div>		
          	</div>
			{% endblock %}

			
          	{% block season_list_block %}
          	<div class"longbox">
	            <h1 class="cover-heading">// <a href="#">Gravity</a></h1>
	            <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
            </div>

          	<div class"longbox">
	            <h1 class="cover-heading">// <a href="#">Gravity</a></h1>
	            <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
            </div>

          	<div class"longbox">
	            <h1 class="cover-heading">// <a href="#">Gravity</a></h1>
	            <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
            </div>            
            {% endblock %}


          </div>



          <div class="mastfoot">
            <div class="inner">
              <p><i>“Never forget what you are, for surely the world will not. Make it your strength. Then it can never be your weakness. Armour yourself in it, and it will never be used to hurt you.”<br> 
              </i>
			  </p>
            </div>
          </div>



        </div>

      </div>

    </div>


		<!-- Bootstrap core JavaScript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>		
    </body>
</html>