
{% extends 'base.html' %}

{% block title %} - movies{% endblock %}

{% block menu_block %}
				<li><a href="/">Home</a></li>
				<li class="active"><a href="/movies/">Movies</a></li>
				<li><a href="/tvseries/">TV Series</a></li>
{% endblock %}

{% block shortnav_block %}
	<div class"shortnav">
		<div class="panel">
			<a href="/">Home</a> / 
			<a href="/movies/">Movies</a> / 
		</div>
	</div>
{% endblock %}

{% block movie_list_block %}
	<h1 class="cover-heading">// <a href="/movies/">Latest Movies</a></h1>
	<div class="row">
		<div class"container">		
		{% for movie in movie_list %}
			<div class="col-md-4 box">
				<div class="panel movie">
					<div class="poster">
						<a class="posterimg" href="/movies/{{ movie.id }}"><img src="/media/{{movie.poster}}"></a>
					</div>				
					<div class"iteminfo">
						<p class="title">// <a href="/movies/{{ movie.id }}">{{ movie.title }}</a> ({{movie.year}})</p>
						<p class="details"></p>
					</div>				
				</div>	
			</div>
		{% endfor %}
		</div>		
	</div>
{% endblock %}



{% block player_block %}
{% endblock %}

{% block season_list_block %}
{% endblock %}



