{% extends 'base.html' %}

{% block title %} - movies{% endblock %}

{% block menu_block %}
	<li><a href="/">Home</a></li>
	<li class="active"><a href="/movies/">Movies</a></li>
	<li><a href="/tvseries/">TV Series</a></li>
{% endblock %}


{% block shortnav_block %}
	<div class"shortnav">
		<div class="panel">
			<a href="/movies/">movies</a> / 
			<a href="/movies/{{ movie.title }}">{{ movie.title }}</a> / 
		</div>
	</div>
{% endblock %}


{% block player_block %}        
{% if movie %}
	<div class="playerbox">
		<h1>{{ movie.title }}</h1>
		<div class="panel">
		<iframe id="f" name="widget" src="{{ movie.location }}" width="852" height="510" style="float:center"></iframe>
		</div>
		<div class="description">
			{{ movie.description }}
		</div>
	</div>

	<div class="row">
		<div class"container">
			<div class="col-md-4">
				<div class="panel">
				<a href="/movies/{{ movie.id }}"><img src="/media/{{movie.poster}}"></a>		
				<p class="lead">// <a href="/movies/{{ movie.id }}">{{ movie.title }}</a>
				({{ movie.year}})</p>
				</div>	
			</div>
		</div>		
	</div>

{% endif %}
{% endblock %}



{% block movie_list_block %}
{% endblock %}

{% block season_list_block %}
{% endblock %}