
{% extends 'base.html' %}

{% block title %} - movies{% endblock %}

{% block menu_block %}
				<li><a href="/">Home</a></li>
				<li class="active"><a href="/movies/">Movies</a></li>
				<li><a href="/tvseries/">TV Series</a></li>
{% endblock %}

{% block shortnav_block %}
	<div class"shortnav">
		<div class="panel">
			<a href="/movies/">movies</a> / 
		</div>
	</div>
{% endblock %}

{% block movie_list_block %}
	<div class="row">
		<div class"container">
		{% for movie in movie_list %}
			<div class="col-md-4">
				<div class="panel">
				<a href="/movies/{{ movie.id }}"><img src="/media/{{movie.poster}}"></a>		
				<p class="lead">// <a href="/movies/{{ movie.id }}">{{ movie.title }}</a>
				({{ movie.year}})</p>
				</div>	
			</div>
		{% endfor %}
		</div>		
	</div>
{% endblock %}



{% block player_block %}
{% endblock %}

{% block season_list_block %}
{% endblock %}



