
{% extends 'base.html' %}

{% block title %} - tvseries{% endblock %}

{% block menu_block %}
                <li><a href="/">Home</a></li>
                <li><a href="/movies/">Movies</a></li>
                <li class="active"><a href="/tvseries/">TV Series</a></li>
{% endblock %}


{% block shortnav_block %}
            <div class"shortnav">
                <div class="panel">
            <a href="/tvseries/">tv series</a> /                 
                    <a href="/tvseries/{{tvshow.id}}">{{tvshow.name}}</a> / 
                    <a href="/tvseries/{{tvshow.id}}/{{season.id}}/" class="topmenu">
                    Season {{season.number}}</a>
                </div>
            </div>

{% endblock %}


{% block season_list_block %}
    {% if episode_list %}
    {% for episode in episode_list %}
            <div class"longbox">
                <h1 class="cover-heading">
                // <a href="/tvseries/{{ episode.season.tvshow.id }}/{{ episode.season.id}}/{{ episode.id}}">Episode {{episode.number}} - {{episode.title}}</a></h1>
                <p class="lead"></p>
            </div>
    {% endfor %}
    {% endif %}
{% endblock %}

{% block player_block %}   
{% endblock %}

{% block movie_list_block %}
{% endblock %}