
{% extends 'base.html' %}

{% block title %} - tvseries{% endblock %}

{% block menu_block %}
				<li><a href="/">Home</a></li>
				<li><a href="/movies/">Movies</a></li>
				<li class="active"><a href="/tvseries/">TV Series</a></li>
{% endblock %}

{% block shortnav_block %}
	<div class"shortnav">
		<div class="panel">
			<a href="/">Home</a> / 
			<a href="/tvseries/">TV Series</a> / 
		</div>
	</div>
{% endblock %}

{% block movie_list_block %}
	<h1 class="cover-heading">// <a href="/tvseries/">Latest TV Series</a></h1>
	<div class="row">
		<div class"container">
		{% for tvshow in tvseries_list %}
		<div class="col-md-4 box">
			<div class="panel movie">
				<div class="poster">				            
					<a  class="posterimg" href="/tvseries/{{ tvshow.id }}"><img src="/media/{{tvshow.poster}}"></a>
				</div>
				<div class"iteminfo">
					<p class="title">// <a href="/tvseries/{{ tvshow.id }}">{{ tvshow.name }}</a> 
				</p>
				<p class="details"></p>
				</div>
			</div>	
		</div>
		{% endfor %}
		</div>		
	</div>			
{% endblock %}




{% block player_block %}
{% endblock %}

{% block season_list_block %}
{% endblock %}

